@import "../node_modules/leaflet/dist/leaflet.css";
@import "shared/styles/main-style-system";

#map {
  height: 100vh;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.custom-marker-icon{
  background-color: transparent;
  border: none;
}